.log{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2rem;
}

.hello{
    margin-top: -2rem;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.something{
    margin-top: -1.8rem;
}
.alert-message{
    transition: opacity 1.5s ease-in-out;
    color: white;
    width: 50%;
    height: 10px;
    margin-top: 2rem;
    margin-left: 22.2rem;
    border-radius: 10px;
    background-color: #71f2a4; /* Background color for the alert box */
    padding: 13px; /* Padding around the alert box */
    border-radius: 5px; /* Border radius to round the corners */
    margin-bottom: 20px; /* Margin to create space between alert and content */
}
.alert-message p{
  margin-top: -8px;
  font-size: 17px;
  font-weight: 500;

}
.loc-btn-1{
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #f19d3a;
    color: white;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-top: -0.1rem;
    cursor: pointer;
  }
  .loc-btn-1:hover{
    background-color: #f58a0f;
  }
  .label{
    text-align: left;
    margin-left: 14.7rem;
    margin-top: 1rem;
    font-size: 16px;
    margin-bottom: 5px;
  }
  /* Increase the size of the placeholder text */
  .input input::placeholder {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(159, 159, 159);/* Change this value to increase or decrease the placeholder text size */
  }
  
  .input input{
    width: 70%;
    height: 24px;
    background-color: whitesmoke;
    border: none;
    margin-left: 2rem;
    padding: 8px;
    border: 1px solid #ccc; /* Default border color */
    border-radius: 4px;
    outline: none;
  }
  input[type="text"]:focus {
    border-color: rgb(93, 206, 241); /* Change border color to blue when focused */
  }


  .checkbox{
    cursor: pointer;
    margin-left: -10rem;
    /* margin-right: 5px; */
  }
  .checkbox2{
    cursor: pointer;
    margin-left: -55.5rem;
  }
  
  .name {
    color: #131313;
    /* padding-top: 20rem; */
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    margin-right: -25px;
    white-space: nowrap;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"] + span:before {
    width: 12px;
    height: 12px;
    border: 1.5px solid #aeacac;
    content: "";
    display: inline-block;
    margin: 0 16px 0 0;
    padding: 0;
    vertical-align: top;
    border-radius: 50%;
    margin-top: 5.4px;
    margin-right: 5px;
    margin-left: 8px;
  }
  
  input[type="checkbox"]:checked + span:before {
    background: #5b94e3;
    border: 1.5px solid #6ea1e9;
    box-shadow: inset 0px 0px 0px 1px #fff;
    color: #333;
    content: "";
    margin-top: 5.4px;
    margin-right: 5px;
    /* text-align: center; */
    border-radius: 50%;
  }
  
  input[type="checkbox"]:focus + span::before {
    outline: 0;
  }
  .select-reason{
    width: 71%;
    height: 45px;
    background-color: whitesmoke;
    border: none;
    margin-left: 2rem;
    /* padding: 8px; */
    border: 1px solid #ccc; /* Default border color */
    border-radius: 4px;
    outline: none;
  }
  
  .save-trip-btn{
    width: 72%;
    height: 42px;
    border: none;
    border-radius: 10px;
    background-color: #54d387;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    margin-top: 2.5rem;
    cursor: pointer;
    margin-left: 2rem;
  }
  .save-trip-btn:hover{
    background-color: #26cf6a;
  }
  .save-trip-btn:disabled{
    background-color: #6ee19c;
  }
  /* .updated-color button{
    width: 72%;
    height: 42px;
    border: none;
    border-radius: 10px;
    background-color: #f19d3a;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
    margin-top: 2.5rem;
    cursor: pointer;
    margin-left: 2rem;
  } */
  .updated-color{
    background-color: #f19d3a;
  }
  .updated-color:hover{
    background-color: #f58a0f;
  }
  .updated-color:disabled{
    background-color: #f0b26a;
  }
 
  .line-add{
    width: 70%;
    margin-top: 2.5rem;
    /* font-weight: 100; */
    border: none;
    border-top: 0.1cqb solid rgb(220, 218, 218);
    /* height: 1px; */
    /* border: none; Removes default border */
    /* height: 5px; */
  }
  .saved-trip-name{
    margin-top: 2rem;
    border: 2px solid transparent;
    width: 71%;
    height: 40px;
    background-color: #41c1d0;
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    /* padding: 5px; */
    /* margin-top: -8px; */
    margin-left: 14.3rem;
    border-radius: 10px;
    color: white;
  }
  .saved-trip-name h2{
    margin-top: 0.5rem;
    margin-left: 0.4rem;
    font-size: 17px;
    text-align: left;
    font-weight: 500;
  }
  .saved-trips-container{
    margin-top: 2rem;
    border: 2px solid rgb(233, 232, 232);
    width: 71%;
    height: 100px;
    background-color: white;
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    /* padding: 5px; */
    /* margin-top: -8px; */
    margin-left: 14.3rem;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
  }
  .places{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-left: 0.6rem;
    color: black;
    margin-top: -1.2rem;
  }
  .dista{
    margin-top: -2.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #131313;
    text-align: left;
    font-size: 15px;
    margin-left: 11.8rem;
  }
  .meet-time{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #131313;
    text-align: left;
    font-size: 13px;
    margin-top: -0.5rem;
    margin-left: 2.3rem;
  }
  .car{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #131313;
    text-align: left;
    font-size: 13px;
    margin-top: -0.5rem;
    margin-left: 2.3rem;
  }
  .trash{
    border: none;
    background-color: white;
    cursor: pointer;
    color: red;
    margin-right: -62rem;
    margin-top: 1rem;
    /* margin-bottom: 10rem; */
  }
  .edit{
    border: none;
    background-color: white;
    cursor: pointer;
  }